{% extends 'rssFeed/base.html' %}
    {% block content %}
    <h1>New York Yankees Top News Headlines</h1>
    {{ cookies }}
    <div id="headlines">
      <ul>
        {% for i in data %}
        {% if forloop.counter < 11 %}
        <li><a href="{{ i.link }}" target="_blank"><h3>{{ i.title }}</h3></a>
          <ul>
            <li>Author: {{ i.author|default:'Unknown' }}</li>
            <li>Published: {{ i.published }}</li>
            <li>{{ i.summary }}</li>
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endblock content %}
